<h1>Want to modify your house in <%= @house.town %>? </h1>

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Home</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li class="has-dropdown">
        <a href="/houses">Houses</a>
        <ul class="dropdown">
          <li><a href="/houses/new">New</a></li>
          <li><a href="/houses/edit">Edit</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>

<br>
<%= simple_form_for @house do |f| %>
  <%= f.input :price  %>
  <%= f.input :town  %>
  <%= f.input :description  %>
  <%= f.input :bedrooms  %>
  <%= f.input :bathrooms  %>
  <%= f.input :url, label: "URL"  %>
  <%= f.input :rating %>
  <%= f.input :remote_image_url %>
  <%= f.file_field :image %>
  <%= f.button :submit, "Add House"  %>
<% end %>
