<h1>Want to modify your house in <%= @house.town %>? </h1>

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Home</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">

    <ul class="left">
      <% if user_signed_in? %>
        <li><%= "Signed in as #{current_user.username}" %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      <% end %>
    </ul>

    <ul class="left">
      <li class="has-dropdown">
        <a href="/houses">My Houses</a>
        <ul class="dropdown">
          <li><a href="/houses/new">New</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>

<br>
<%= simple_form_for @house do |f| %>
  <%= f.input :price  %>
  <%= f.input :town  %>
  <%= f.input :description  %>
  <%= f.input :bedrooms  %>
  <%= f.input :bathrooms  %>
  <%= f.input :url, label: "URL"  %>
  <%= f.input :rating %>
  <%= f.input :remote_image_url %>
  <%= f.file_field :image %>
  <%= f.button :submit, "Add House"  %>
<% end %>
