<h1>Want to modify your house in <%= @house.town %>? </h1>

<br>
<%= simple_form_for @house do |f| %>
  <%= f.input :price  %>
  <%= f.input :town  %>
  <%= f.input :description  %>
  <%= f.input :bedrooms  %>
  <%= f.input :bathrooms  %>
  <%= f.input :url, label: "URL"  %>
  <%= f.input :rating %>
  <%= f.input :remote_image_url %>
  <%= f.file_field :image %>
  <%= f.button :submit, "Add House"  %>
<% end %>
