<h1>Your Houses</h1>
<% flash.each do |name, msg| %>
      <div data-alert class="alert-box <%= name == :notice ? 'success' : 'alert' %>">
        <%= content_tag :div, msg %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
<br>
    <% if user_signed_in? && (@houses.empty? == false)    %>
<table>
  <tr>
    <th>Price</th>
    <th>Address</th>
    <th>Town</th>
    <th>Description</th>
    <th>Bedrooms</th>
    <th>Bathrooms</th>
    <th>URL</th>


  </tr>
    <% @houses.each do |house|%>
  <tr>
    <td><%= house.price %></td>
    <td><%= house.address %></td>
    <td><%= house.town %></td>
    <td><%= house.description %></td>
    <td><%= house.bedrooms %></td>
    <td><%= house.bathrooms %></td>
    <td><a href=<%= house.url %>><%= house.url %> </a> </td>
    <% if user_signed_in? && house.user_id == current_user.id %>
      <td><%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td><%= link_to 'Edit', edit_house_path(house) %></td>
      <td><%= link_to 'SHOW', house_path(house) %></td>
    <% end %>
  </tr>
    <% end %>
</table>

<br>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<div class="row">
  <h3 align="center" >Bedroom(s) to Price Comparison</h3>
  <div class="large-6 columns">
    <%= pie_chart @houses.group(:bedrooms).average(:price) %>
  </div>
  <div class="large-6 columns">
    <%= column_chart @houses.group(:bedrooms).average(:price) %>
  </div>
  </div>
</div>
<br>

<div class="row">
  <h3 align="center" >Bathroom(s) to Price Comparison</h3>
  <div class="large-6 columns">
    <%= pie_chart @houses.group(:bathrooms).average(:price) %>
  </div>
  <div class="large-6 columns">
    <%= column_chart @houses.group(:bathrooms).average(:price) %>
  </div>
</div>
<br>
<br>
<div class="row">
  <h3 align="center" >Town to Price Comparison</h3>
  <%= bar_chart @houses.group(:town).average(:price) %>
  <%= geo_chart @houses.group(:town).sum(:price) %>
</div>
<br>
    <% else %>
  <h1>You have not added any houses.</h1>
    <% end %>

