<h1>Add a house</h1>
<% flash.each do |name, msg| %>
      <div data-alert class="alert-box round <%= name == :notice ? 'success' : 'alert' %>">
        <%= content_tag :div, msg %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
<br>
<br>
<%= simple_form_for @house do |f| %>
  <%= f.input :price  %>
  <%= f.input :town  %>
  <%= f.input :description  %>
  <%= f.input :bedrooms  %>
  <%= f.input :bathrooms  %>
  <%= f.input :url, label: "URL"  %>
  <%= f.input :remote_image_url %>
  <%= f.file_field :image %>
  <%= f.button :submit, "Add House"  %>
<% end %>
