<h1>House Number <%= @house.id %> </h1>
<br>

<% flash.each do |name, msg| %>
      <div data-alert class="alert-box round <%= name == :notice ? 'success' : 'alert' %>">
        <%= content_tag :div, msg %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>

<br>

<div>
    <%= image_tag @house.image_url(:thumb) if @house.image? %>
</div>
<br>
<table>
<tr>
    <th>Price</th>
    <th>Address</th>
    <th>Town</th>
    <th>Description</th>
    <th>Bedrooms</th>
    <th>Bathrooms</th>
    <th>URL</th>
</tr>
<tr>
    <td><%= @house.price %></td>
    <td><%= @house.address %></td>
    <td><%= @house.town %></td>
    <td><%= @house.description %></td>
    <td><%= @house.bedrooms %></td>
    <td><%= @house.bathrooms %></td>
    <td><a href=<%= @house.url %>><%= @house.url %> </a> </td>
    <td><%= link_to 'Destroy', @house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Edit', edit_house_path(@house) %></td>
</tr>
</table>

<br>
<h3>Rate this House</h3>
<%= simple_form_for [@house, @rating] do |f| %>
 <%= f.input :value, collection: 1..5 %>
 <%= f.button :submit  %>
<% end %>
<br>

<div id="datetime_picker">
<h3>Add a Show Time alert</h3>
<%= simple_form_for [@house, @textmessage], method: :create do |f| %>
  <%= f.input :date_time, :as => :datetime %>
  <%= f.input :time_zone, :as => :time_zone %>
  <%= f.input :phone_number, :as => :tel %>
  <%= f.button :submit  %>
<% end %>
</div>







