<!DOCTYPE html>
<div id="canvas" class="lander">
<h2>HomedIn</h2>

<div class="scrollWrapper">
<table id="keywords">
  <thead>
    <tr >
      <th width="85" height="80">
        <span>Image</span>
      </th>
      <th>
        <span>Zestimate®</span>
      </th>
      <th>
        <span>Address</span>
      </th>
      <th>
        <span>Town</span>
      </th>
      <th width="1%">
        <span>Beds</span>
      </th>
      <th width="2%">
        <span>Baths</span>
      </th>
      <th width="5">
        <span>URL</span>
      </th>
    </tr>
  </thead>
    <% @houses.each do |house|%>
  <% if user_signed_in? && house.user_id == current_user.id %>
    <tr class='clickableRow' href='<%= house_path(house) %>'>
  <% else %>
    <tr>
  <% end %>
    <td><%= image_tag house.image_url(:thumb) %></td>
    <td><%= house.price %></td>
    <td><%= house.address %></td>
    <td><%= house.town %></td>
    <td><%= house.bedrooms %></td>
    <td><%= house.bathrooms %></td>
    <td ><a href=<%= house.url %>><%= truncate(house.url, length:20, omission: "...") %> </a> </td>
  </tr>
    <% end %>
</table>
</div>
  <img src="http://www.zillow.com/widgets/GetVersionedResource.htm?path=/static/logos/zmm_logo_large.gif" width="180" height="20" alt="Zillow Real Estate Search" />
<br>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div class="row">
  <h3 align="center" >Bedroom(s) to Price Comparison</h3>
  <div class="large-6 columns">
    <%= pie_chart House.group(:bedrooms).average(:price) %>
  </div>
  <div class="large-6 columns">
    <%= column_chart House.group(:bedrooms).average(:price) %>
  </div>
  </div>
</div>
<br>

<div class="row">
  <h3 align="center" >Bathroom(s) to Price Comparison</h3>
  <div class="large-6 columns">
    <%= pie_chart House.group(:bathrooms).average(:price) %>
  </div>
  <div class="large-6 columns">
    <%= column_chart House.group(:bathrooms).average(:price) %>
  </div>
</div>
<br>
<br>
<div class="row">
  <h3 align="center" >Town to Price Comparison</h3>
  <%= bar_chart House.group(:town).average(:price) %>
</div>
<br>
