<!DOCTYPE html>
<h2>Home</h2>

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Home</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li class="has-dropdown">
        <a href="/houses">Houses</a>
        <ul class="dropdown">
          <li><a href="/houses/new">New</a></li>
          <li><a href="/houses/edit">Edit</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>
<br>
<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.username %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
    <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
  <% end %>
</div>

