<!DOCTYPE html>
<h2>Home</h2>
<table>
  <tr>
    <th>Price</th>
    <th>Address</th>
    <th>Town</th>
    <th>Description</th>
    <th>Bedrooms</th>
    <th>Bathrooms</th>
    <th>URL</th>

  </tr>
    <% @houses.each do |house|%>
  <tr>
    <td><%= house.price %></td>
    <td><%= house.address %></td>
    <td><%= house.town %></td>
    <td><%= house.description %></td>
    <td><%= house.bedrooms %></td>
    <td><%= house.bathrooms %></td>
    <td><a href=<%= house.url %>><%= house.url %> </a> </td>
    <td><%= link_to 'SHOW', house_path(house) %></td>
</tr>
  <% end %>
</table>

<br>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div class="row">
  <h3 align="center" >Bedroom(s) to Price Comparison</h3>
  <div class="large-6 columns">
    <%= pie_chart House.group(:bedrooms).average(:price) %>
  </div>
  <div class="large-6 columns">
    <%= column_chart House.group(:bedrooms).average(:price) %>
  </div>
  </div>
</div>
<br>

<div class="row">
  <h3 align="center" >Bathroom(s) to Price Comparison</h3>
  <div class="large-6 columns">
    <%= pie_chart House.group(:bathrooms).average(:price) %>
  </div>
  <div class="large-6 columns">
    <%= column_chart House.group(:bathrooms).average(:price) %>
  </div>
</div>
<br>
<br>
<div class="row">
  <h3 align="center" >Town to Price Comparison</h3>
  <%= bar_chart House.group(:town).average(:price) %>
  <%= geo_chart House.group(:town).sum(:price) %>
</div>
<br>
